<h2 mat-dialog-title>Condiciones</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-placeholder>Nombre</mat-placeholder>
                <input required type="text" formControlName="nombre" maxlength="75" matInput>
            </mat-form-field>
        </div>
    </mat-dialog-content>

        <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Crear condición</button>
            <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar condición</button>
        </mat-dialog-actions>
</form>