<h2 mat-dialog-title>Cuentas</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Nombre</mat-placeholder>
        <input required type="text" formControlName="nombre" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Número</mat-placeholder>
        <input required type="text" formControlName="numero" matInput>
      </mat-form-field>
    </div>


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Tipo de Cuenta</mat-label>
        <mat-select required formControlName="tipo_cuenta_id">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.id_tipo_cuenta">
            {{tipo.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="padding-top: 5%;">
        <mat-checkbox [checked]="true" color="primary" formControlName="activa">¿Activa?</mat-checkbox>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Banco</mat-label>
        <mat-select formControlName="banco_id">
          <mat-option *ngFor="let banco of bancos" [value]="banco.id_banco">
            {{banco.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Crear Cuenta</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar Cuenta</button>
  </mat-dialog-actions>
</form>