<h2 mat-dialog-title>Estados</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-placeholder>Nombre</mat-placeholder>
                <input required type="text" formControlName="nombre" maxlength="75" matInput>
            </mat-form-field>
        </div>
        <div style="padding-top: 5%;">
            <mat-checkbox [checked]="true" color="primary" formControlName="editable">¿Editable?</mat-checkbox>
        </div>
    </mat-dialog-content>

        <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Crear estado</button>
            <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar estado</button>
        </mat-dialog-actions>
</form>