<div class="all-in-one-table">
  <elastic-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true">
  </elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Artículos'" [header]="'primary'"></elastic-breadcrumbs>

    <elastic-list name="Artículos" [columns]="columns" (filterChange)="onFilterChange($event)">
      <div class="actions" fxFlexAlign="center">
        <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-table #table [dataSource]="dataSource" id="table" matSort>
       
        <!-- Columns -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <mat-header-cell *matHeaderCellDef mat-sort-header><p align=""> {{ column.name }} </p></mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
          </ng-container>
        </ng-container> 
        
        <!-- Joined Columns -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let row"><p align="justify">{{ row.descripcion }}</p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
          <mat-cell *matCellDef="let row"><p align="right">Q {{ row.precio.toLocaleString(this.common.localNumber, this.common.numberOptions ) }}</p> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fungible">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de bien </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fungible? "Fungible" : "No Fungible"}} </mat-cell>
        </ng-container>        

        <ng-container matColumnDef="fecha_compra">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de compra </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{common.getLocalDateString(row.fecha_compra)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.categoria.nombre}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="tipo_articulo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Artículo </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.tipo_articulo.nombre}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.estado.nombre}} </mat-cell>
        </ng-container>        
    
        <ng-container matColumnDef="proveedor">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.proveedor.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.departamento.nombre}} </mat-cell>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
              <button (click)="modify(row)" mat-menu-item>
                <span>Modificar</span>
              </button>
              <button (click)="delete(row)" mat-menu-item>
                <span>Borrar</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="modify(row)" class="clickable">
        </mat-row>
      </mat-table>

      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

    </elastic-list>

  </div>

</div>


