<div class="all-in-one-table" *ngIf="!trasladosVisibles">
  <elastic-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true">
  </elastic-page-header>


  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Tarjetas de responsabilidad'" [header]="'primary'"></elastic-breadcrumbs>

    <elastic-list name="Tarjetas" [columns]="columns" (filterChange)="onFilterChange($event)">
      <div class="actions" fxFlexAlign="center">
        <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>


      <mat-table #table [dataSource]="dataSource" id="table" matSort>

        <!-- Columns -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
          </ng-container>
        </ng-container>
        

        <ng-container matColumnDef="fecha_creacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de compra </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{common.getLocalDateString(row.articulo.fecha_compra)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="inventario">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. y Clave de control </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.articulo.inventario}} </mat-cell>
        </ng-container>       
        

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.articulo.descripcion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sección </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.departamento.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="receptor">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Receptor </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.receptor.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="traslados">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Traslados </mat-header-cell>
          <mat-cell *matCellDef="let row"> <button mat-button color="accent" (click)="showTraslados(row.id_interno)">
              Ver traslados
            </button> </mat-cell>
        </ng-container>

        <button mat-button>
          Button
        </button>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
              <button (click)="modify(row)" mat-menu-item>
                <span>Modificar</span>
              </button>
              <button (click)="delete(row)" mat-menu-item>
                <span>Borrar</span>
              </button>              
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="modify(row)" class="clickable">
        </mat-row>
      </mat-table>

      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

    </elastic-list>

  </div>

</div>


<div *ngIf="trasladosVisibles">
  <elastic-traslado (closeView)="verifyState($event)" [data]="id_traslado"></elastic-traslado>
</div>