<div class="all-in-one-table">
  <elastic-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true">
  </elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Cuentas'" [header]="'primary'"></elastic-breadcrumbs>

    <elastic-list name="Cuentas" [columns]="columns" (filterChange)="onFilterChange($event)">
      <div class="actions" fxFlexAlign="center">
        <button class="create" (click)="crear()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-table #table [dataSource]="dataSource"  id="table" matSort>        

        <!-- Columns -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
          </ng-container>
        </ng-container>
        

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
              <button (click)="modificar(row)" mat-menu-item>
                <span>Modificar</span>
              </button>
              <button (click)="eliminar(row)" mat-menu-item>
                <span>Borrar</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="modificar(row)" class="clickable">
        </mat-row>
      </mat-table>

      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

    </elastic-list>

  </div>

</div>

