<h2 mat-dialog-title>Inversiones</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="36px">
      <mat-form-field fxFlex>
        <mat-label>Tipo de inversión</mat-label>
        <mat-select required formControlName="tipo_Inversion_id">
          <mat-option *ngFor="let tipo of tiposInversion" [value]="tipo.id_tipo_inversion">
            {{tipo.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>No. de certificado</mat-placeholder>
        <input required type="text" formControlName="certificado" matInput>
      </mat-form-field>  
      <mat-form-field fxFlex>
        <mat-placeholder>Referencia PP</mat-placeholder>
        <input type="text" formControlName="referencia_pp" matInput>
      </mat-form-field>  
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>No. de Cuenta</mat-placeholder>
        <input type="text" formControlName="cuenta" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Valor de inversión</mat-placeholder>
        <input required type="number" formControlName="monto" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Tasa de interés</mat-placeholder>
        <input required type="number" formControlName="tasa_interes" matInput>
      </mat-form-field>
    </div>


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>      
        <input matInput [matDatepicker]="fecha_colocacion" placeholder="Fecha de colocación" formControlName="fecha_colocacion" (dateChange)="changeDate()">
        <mat-datepicker-toggle matSuffix [for]="fecha_colocacion"></mat-datepicker-toggle>              
      </mat-form-field>
      <mat-datepicker #fecha_colocacion  ></mat-datepicker> 
      <mat-form-field fxFlex>
        <mat-placeholder>Plazo (Días)</mat-placeholder>
        <input required type="number" formControlName="plazo" (change)="changeDate()" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>      
        <input matInput [matDatepicker]="vencimiento" placeholder="Fecha Vencimiento" formControlName="vencimiento">
        <mat-datepicker-toggle matSuffix [for]="vencimiento"></mat-datepicker-toggle>              
      </mat-form-field>
      <mat-datepicker #vencimiento  ></mat-datepicker> 
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Banco</mat-label>
        <mat-select required formControlName="banco_id" (selectionChange)="bancoChanged()" >
          <mat-option *ngFor="let banco of bancos" [value]="banco.id_banco">
            {{banco.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>  
      <mat-form-field fxFlex>
        <mat-placeholder>Acta JAPP</mat-placeholder>
        <input type="text" formControlName="acta_japp" matInput>
      </mat-form-field>

      <mat-form-field fxFlex>      
        <input matInput [matDatepicker]="fecha_acta" placeholder="Fecha Acta JAPP" formControlName="fecha_acta">
        <mat-datepicker-toggle matSuffix [for]="fecha_acta"></mat-datepicker-toggle>              
      </mat-form-field>
      <mat-datepicker #fecha_acta></mat-datepicker>       
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Forma de pago</mat-label>
        <mat-select required formControlName="periodo_pago" (selectionChange)=ChangePayDate()>
          <mat-option *ngFor="let periodo of periodos" [value]="periodo">
            {{periodo}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>      
        <input matInput [matDatepicker]="fecha_pago" placeholder="Primera fecha pago" formControlName="fecha_pago">
        <mat-datepicker-toggle matSuffix [for]="fecha_pago"></mat-datepicker-toggle>              
      </mat-form-field>
      <mat-datepicker #fecha_pago></mat-datepicker>  
      <mat-form-field fxFlex>
        <mat-placeholder>Días Anuales</mat-placeholder>
        <input required type="number" formControlName="dias_anuales" matInput>
      </mat-form-field>
    </div>

    
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">              
      <mat-form-field fxFlex>
        <mat-placeholder>CC Inversión</mat-placeholder>
        <input required type="text" (change)="inversionChanged()" formControlName="cuenta_inversion_codigo" matInput>
      </mat-form-field>      
      <mat-form-field fxFlex>        
        <input required type="text" formControlName="cuenta_inversion_nombre" readonly matInput>
      </mat-form-field>
      <button type="button" (click)="inversion()" mat-icon-button [matMenuTriggerFor]="cuentas"><mat-icon>search</mat-icon></button>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">      
      <mat-form-field fxFlex>
        <mat-placeholder>CC Interés por cobrar</mat-placeholder>
        <input required type="text" (change)="provisionChanged()" formControlName="cuenta_provision_codigo" matInput>
      </mat-form-field>      
      <mat-form-field fxFlex>        
        <input required type="text" formControlName="cuenta_provision_nombre" readonly matInput>
      </mat-form-field>
      <button type="button" (click)="provision()" mat-icon-button [matMenuTriggerFor]="cuentas"><mat-icon>search</mat-icon></button>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">      
      <mat-form-field fxFlex>
        <mat-placeholder>CC Interés producto</mat-placeholder>
        <input required type="text" (change)="interesChanged()" formControlName="cuenta_interes_codigo" matInput>
      </mat-form-field>      
      <mat-form-field fxFlex>        
        <input required type="text" formControlName="cuenta_interes_nombre" readonly matInput>
      </mat-form-field>
      <button type="button" (click)="interes()" mat-icon-button [matMenuTriggerFor]="cuentas"><mat-icon>search</mat-icon></button>
    </div>

    

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">      
      <mat-form-field fxFlex>
        <mat-label>Estado de inversión</mat-label>
        <mat-select required formControlName="estado_inversion" (selectionChange)=stateChange()>
          <mat-option *ngFor="let estado of estados" [value]="estado.id_estado">
            {{estado.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="padding-top: 3%; padding-right: 2%;">
        <mat-checkbox [checked]="true" color="primary" formControlName="aprobado_japp">¿Aprobado JAPP?</mat-checkbox>
      </div>              
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Observación</mat-placeholder>
        <textarea type="text" formControlName="observacion" maxlength="500" matInput></textarea>
      </mat-form-field>        
      <div style="padding-top: 4.5%;">
        <mat-checkbox [checked]="true" color="primary" formControlName="calculo_especial">¿Cálculo especial?</mat-checkbox>
      </div>
    </div>

    <!---->
    <mat-menu #cuentas="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="inversion_mat">Cta. de Inversión</button>
      <button mat-menu-item [matMenuTriggerFor]="provision_mat">Cta. Interes por cobrar</button>
      <button mat-menu-item [matMenuTriggerFor]="producto_mat">Cta. de Interes producto</button>      
    </mat-menu>
    
    <mat-menu #inversion_mat="matMenu">
      <button *ngFor="let cuenta of cta_inversion" type="button" mat-menu-item (click)="AsignarCuentaACategoria(cuenta)"> {{ cuenta.id_cuenta + " - " + cuenta.nombre }}</button>
    </mat-menu>
    <mat-menu #provision_mat="matMenu">
      <button *ngFor="let cuenta of cta_provision" type="button" mat-menu-item (click)="AsignarCuentaACategoria(cuenta)"> {{ cuenta.id_cuenta + " - " + cuenta.nombre }}</button>
    </mat-menu>
    <mat-menu #producto_mat="matMenu">
      <button *ngFor="let cuenta of cta_interes_producto" type="button" mat-menu-item (click)="AsignarCuentaACategoria(cuenta)"> {{ cuenta.id_cuenta + " - " + cuenta.nombre }} </button>
    </mat-menu>     
     
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Crear inversion</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar inversión</button>    
  </mat-dialog-actions>
</form>