<div class="simple-table">

  <elastic-page-header [height]="'158px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true">
  </elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Reportería'" [header]="'primary'"></elastic-breadcrumbs>

    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="16px" fxLayoutAlign="start start">
      <div class="sticky">
        <mat-card fxFlex.gt-md="300px">
          <mat-card-title>Control de vencimiento de inversiones</mat-card-title>
          <mat-card-content fxLayout="column">            
            <b>
              <p>Seleccione la fecha de inicio:</p>
            </b>
            <mat-form-field>
              <input matInput [matDatepicker]="formDatepickerRef" placeholder="Ingrese la fecha deseada" [(ngModel)]="fecha" (dateChange)="update()">
              <mat-datepicker-toggle matSuffix [for]="formDatepickerRef"></mat-datepicker-toggle>              
            </mat-form-field>
            <mat-datepicker #formDatepickerRef  ></mat-datepicker>            
            <b>
              <p>Seleccione el tipo de entidad:</p>
            </b>
            <mat-select required [(ngModel)]="id_entidad" (selectionChange)="listar()">
              <mat-option *ngFor="let entidad of entidades" [value]="entidad.id_tipo_entidad">
                {{entidad.nombre}}
              </mat-option>
            </mat-select>
            
            <br>
            <button mat-raised-button color="primary" (click)="downloadPDF()">Generar PDF</button>
            <br>
            <button mat-raised-button color="accent" (click)="downloadExcel()">Generar Excel</button>

          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex class="mat-elevation-z2">
        <table id="table" class="table" [class.table-hover]="true" [class.table-striped]="true"
          [class.table-condensed]="false" [class.table-bordered]="true">
          <thead>
            <tr>
              <th style="text-align:center">Institución</th>                            
              <th style="text-align:center">Total</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <td style="text-align:center">{{ row.nombre }}</td>
              <td style="text-align:right"> Q{{ row.monto.toLocaleString(this.common.localNumber, this.common.numberOptions ) }}</td>                      
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>