<h2 mat-dialog-title>Asistente de generación de cartas - Desinversión Anticipada</h2>

<form [formGroup]="form">
  <mat-dialog-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="36px">
      <mat-form-field fxFlex>
        <mat-placeholder>Banco</mat-placeholder>
        <input required type="text" formControlName="banco" matInput>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput required [matDatepicker]="fecha" placeholder="Ingrese la fecha deseada"
          formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
      </mat-form-field>


      <mat-form-field fxFlex>
        <mat-placeholder>Nombre Gerente</mat-placeholder>
        <input required type="text" formControlName="nombre" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="36px">
      <mat-form-field fxFlex>
        <mat-placeholder>Apellido Gerente</mat-placeholder>
        <input required type="text" formControlName="apellido" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Grado académico</mat-placeholder>
        <input required type="text" formControlName="grado" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Puesto</mat-placeholder>
        <input required type="text" formControlName="puesto" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Acta JAPP</mat-placeholder>
        <input required type="text" formControlName="acta_japp" matInput>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput required [matDatepicker]="fecha_acta" placeholder="Ingrese la fecha del acta"
          formControlName="fecha_acta">
        <mat-datepicker-toggle matSuffix [for]="fecha_acta"></mat-datepicker-toggle>
        <mat-datepicker #fecha_acta></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-placeholder>No. Certificado</mat-placeholder>
        <input required type="text" formControlName="certificado" matInput>
      </mat-form-field>
    </div>



    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>No. Cuenta</mat-placeholder>
        <input required type="text" formControlName="cuenta" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Valor de inversión</mat-placeholder>
        <input required type="number" formControlName="monto" matInput>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput required [matDatepicker]="vencimiento" placeholder="Ingrese la fecha de desinversión"
          formControlName="vencimiento" (dateChange)="calcularInteres()">
        <mat-datepicker-toggle matSuffix [for]="vencimiento"></mat-datepicker-toggle>
        <mat-datepicker #vencimiento></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Días de interés</mat-placeholder>
        <input required type="number" formControlName="dias_interes" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Interés por cobrar:</mat-placeholder>
        <input required type="text" formControlName="interes" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput required [matDatepicker]="entrega" placeholder="Recoger cheque el:" formControlName="entrega">
        <mat-datepicker-toggle matSuffix [for]="entrega"></mat-datepicker-toggle>
        <mat-datepicker #entrega></mat-datepicker>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button type="button" (click)="saveWord()" mat-button [disabled]="!form.valid">Crear carta
      Word</button>
    <button type="button" (click)="savePDF()" mat-button [disabled]="!form.valid" color="primary">Crear
      carta PDF</button>
    <button type="button" (click)="close()" mat-button color="warn">Cerrar</button>
  </mat-dialog-actions>
</form>